<h1>Improve your web sites ranking with the major search engines including Google, Yahoo and Bing</h1>
<h2>Fill out the form below and get a free report on how to impove your webpage</h2>
<%= render 'form' %>
<h2>What do we give you?</h2>
  We give you free SEO
  <h3>helping the non-technically minded</h3>
  <h3>helping the technically minded</h3>
<h2>What is SEO?</h2>
  SEO stands for Search Engine Optimization. The term encompases all efforts made in order to imporve a paticular sites ranking in a search engine. The main areas of SEO are known as "on the page" and "off the page". On the page SEO is any effort made on the content of a web page. In off the page SEO we focus on incresing the amount of links and traffic to our page
<h2>Where we get our information</h2>
  We would like to thank Google for pulishing the <%= link_to "Search Engine Optimization Starter Guide", "http://static.googleusercontent.com/media/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf" %>, a 30 page guide on SEO best practice. Most of the information in this guide is applicable not only to Google but also other major search engines. Another useful resource is <%= link_to "The Periodic Table Of SEO Success Factors", "http://searchengineland.com/seotable" %>, an excelent quick reference guide in "on" and "off" the page SEO. <%= link_to "freeseoreport", "https://www.freeseoreport.com/" %> is a site that does pretty much what we do and has provided us with lots of inspiration.